body { margin: 5em
     ; line-height: 1.45
     ; display: grid
     ; grid-template-columns: 1fr 32em 1fr
     ; grid-gap: 0.25em 1em
     }

h1 { margin: 0 }
blockquote { margin: 0em 0em 0em 3em; color: #777 }

.sellout:before { content: "\" " }
.sellout { font-size: 0.8em; color: #a99 }

a, a:visited { color: #000 }
a:hover { color: #00f }

.first  { grid-column: 1; text-align: right; font-weight: bold }
.second { grid-column: 2 }
.third  { grid-column: 3; color: #aaa }

.filler { grid-column: 2; height: 2em }